In [1]:
import numpy as np

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [3]:
data = np.random.randint(1,100,(10,2))

In [4]:
data

array([[15, 21],
       [82,  3],
       [17, 10],
       [11, 77],
       [25, 24],
       [52, 45],
       [93, 71],
       [19, 63],
       [ 2, 41],
       [33, 62]])

In [5]:
scaler_model = MinMaxScaler()

In [6]:
type(scaler_model)

sklearn.preprocessing.data.MinMaxScaler

In [7]:
scaler_model.fit(data)

C:\Users\BKP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
scaler_model.transform(data)

array([[0.14285714, 0.24324324],
       [0.87912088, 0.        ],
       [0.16483516, 0.09459459],
       [0.0989011 , 1.        ],
       [0.25274725, 0.28378378],
       [0.54945055, 0.56756757],
       [1.        , 0.91891892],
       [0.18681319, 0.81081081],
       [0.        , 0.51351351],
       [0.34065934, 0.7972973 ]])

In [9]:
scaler_model.fit_transform(data)

C:\Users\BKP\Anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

array([[0.14285714, 0.24324324],
       [0.87912088, 0.        ],
       [0.16483516, 0.09459459],
       [0.0989011 , 1.        ],
       [0.25274725, 0.28378378],
       [0.54945055, 0.56756757],
       [1.        , 0.91891892],
       [0.18681319, 0.81081081],
       [0.        , 0.51351351],
       [0.34065934, 0.7972973 ]])

In [10]:
import pandas as pd

In [20]:
df = pd.DataFrame(data=np.random.randint(0,101,(50,4)), columns=['f1','f2','f3','label'])

In [21]:
df

     f1  f2   f3  label
0    17  40   99     93
1    79  81   98     63
2    99  75   40     89
3    69  78   96     16
4    59   5   94     64
5    41  35   46     16
6    68  32   65     46
7    40  23   10     67
8    90  76   72     72
9    77  84   32     22
10   30  36   54     37
11   43  87   57     62
12   47  23  100     87
13   79  59   47     29
14   51  39    3     84
15    3  59   12     42
16   23  23   25     19
17   29   8   30      7
18    1  94   39     80
19   33  48   12     92
20  100  19   39     71
21   25  65   33     18
22   22  55   61     70
23   56  91   91     97
24   19  80   27     86
25    1  66   55     79
26   46   6   42     81
27   82   6   73     76
28    9  74   86     72
29   31   3   17     73
30   37  78   65     67
31   20   8    7     10
32   49  33   81     54
33   57  50   66     45
34   74  13   66     47
35   22  88   82    100
36   96  99   87     58
37   61  66   34     88
38   27  66   43     30
39   70   5   62     30
40   34  52   26      9
41   33  25   57     66
42   13  91   53     45
43   29   7   84      8
44   18  46   54      4
45   41   3   85     82
46   92  64   12     64
47    8  69   51     14
48   95  38   83     26
49   16  72   49     53

In [22]:
X = df[['f1','f2','f3']]

In [23]:
X

     f1  f2   f3
0    17  40   99
1    79  81   98
2    99  75   40
3    69  78   96
4    59   5   94
5    41  35   46
6    68  32   65
7    40  23   10
8    90  76   72
9    77  84   32
10   30  36   54
11   43  87   57
12   47  23  100
13   79  59   47
14   51  39    3
15    3  59   12
16   23  23   25
17   29   8   30
18    1  94   39
19   33  48   12
20  100  19   39
21   25  65   33
22   22  55   61
23   56  91   91
24   19  80   27
25    1  66   55
26   46   6   42
27   82   6   73
28    9  74   86
29   31   3   17
30   37  78   65
31   20   8    7
32   49  33   81
33   57  50   66
34   74  13   66
35   22  88   82
36   96  99   87
37   61  66   34
38   27  66   43
39   70   5   62
40   34  52   26
41   33  25   57
42   13  91   53
43   29   7   84
44   18  46   54
45   41   3   85
46   92  64   12
47    8  69   51
48   95  38   83
49   16  72   49

In [24]:
y = df['label']

In [25]:
y

0      93
1      63
2      89
3      16
4      64
5      16
6      46
7      67
8      72
9      22
10     37
11     62
12     87
13     29
14     84
15     42
16     19
17      7
18     80
19     92
20     71
21     18
22     70
23     97
24     86
25     79
26     81
27     76
28     72
29     73
30     67
31     10
32     54
33     45
34     47
35    100
36     58
37     88
38     30
39     30
40      9
41     66
42     45
43      8
44      4
45     82
46     64
47     14
48     26
49     53
Name: label, dtype: int32

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [28]:
X_train

     f1  f2  f3
6    68  32  65
41   33  25  57
46   92  64  12
47    8  69  51
15    3  59  12
9    77  84  32
16   23  23  25
24   19  80  27
34   74  13  66
31   20   8   7
0    17  40  99
44   18  46  54
27   82   6  73
33   57  50  66
5    41  35  46
29   31   3  17
11   43  87  57
36   96  99  87
1    79  81  98
21   25  65  33
2    99  75  40
43   29   7  84
35   22  88  82
23   56  91  91
40   34  52  26
10   30  36  54
22   22  55  61
18    1  94  39
49   16  72  49
20  100  19  39
7    40  23  10
42   13  91  53
14   51  39   3
28    9  74  86
38   27  66  43

In [29]:
X_test

    f1  f2   f3
13  79  59   47
39  70   5   62
30  37  78   65
45  41   3   85
17  29   8   30
48  95  38   83
26  46   6   42
25   1  66   55
32  49  33   81
19  33  48   12
12  47  23  100
4   59   5   94
37  61  66   34
8   90  76   72
3   69  78   96

In [30]:
y_train

6      46
41     66
46     64
47     14
15     42
9      22
16     19
24     86
34     47
31     10
0      93
44      4
27     76
33     45
5      16
29     73
11     62
36     58
1      63
21     18
2      89
43      8
35    100
23     97
40      9
10     37
22     70
18     80
49     53
20     71
7      67
42     45
14     84
28     72
38     30
Name: label, dtype: int32

In [31]:
y_test

13    29
39    30
30    67
45    82
17     7
48    26
26    81
25    79
32    54
19    92
12    87
4     64
37    88
8     72
3     16
Name: label, dtype: int32

In [32]:
X_train.shape

(35, 3)

In [33]:
X_test.shape

(15, 3)

In [34]:
y_train.shape

(35,)

In [35]:
y_test.shape

(15,)